<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Notificación de Acceso a Central Pay</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 10px;
        }

        body {
            font-family: 'Poppins', 'Roboto', serif;
            color: white;
        }

        .bg-container {
            background-image: url('https://viabo.com/production_images/cpay/cpay-bg-2.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: bottom center;
        }

        .logo {
            height: 27px;
            width: auto;
            margin-right: 20px;
            margin-bottom: 25px;
        }
    </style>
</head>

<body style="
						            font-size: 12px;
						            line-height: 1.5;
						            color:white;">
<div class="bg-container" style="margin: 0 auto;
								            width: 500px;
								            padding: 30px;
								            color:white;
								            border-radius:16px;
								            min-height:600px;
								            position:relative;
								            ">
    <table>
        <tr>
            <td>
                <img src="https://viabo.com/production_images/cpay/cpay-logo-white.png" alt="Logo de la empresa"
                     class="logo">
            </td>
        </tr>
        <tr>
            <td>
                <h1 style="color: #297AFC">¡Bienvenido a
                    <span style="color:white">CentralPay</span>
                    !
                    <br />Comienza a agilizar tus pagos.
                </h1>
                <p style="margin-right:60px;	font-size: 20px;
														                            font-weight:bold;
														                            text-align: center;text-transform:capitalize;color:white;background-color:#3C63AD;padding-top:10px;padding-bottom:10px;border-radius:10px">{{ name }}
                </p>
                <p style="
																                            font-size: 12px;
																                            font-weight:bold;
																                            text-align: left; color:white">
                    ¡Tu cuenta ha sido creada correctamente!
                    <br />Inicia sesión para que tu acceso sea mas rápido
                </p>
                <p style="
																                            font-size: 12px;
																                            font-weight:bold;
																                            text-align: left">
                    ¿Estás listo para el cambio?
                </p>

            </td>
            <td>
                <div style="width:150px"></div>

            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="border-radius:8px;font-size: 14px;font-weight: bold;text-align: left;color: white;">
                Usuario :
                <span style="color:#297AFC">{{ userEmail }}</span>
            </td>
        </tr>
        <tr>
            <td style="border-radius:8px;font-size: 14px;font-weight: bold;text-align: left;color: white;">
                Password :
                <span style="color:#297AFC">{{ password }}</span>
            </td>
        </tr>
    </table>
    <a href="{{ host }}"
       style="display: inline-block; padding: 20px 20px; background-color: #297AFB; color: #ffffff;font-size:14px;margin-top:24px; text-decoration: none; border-radius: 8px;width:200px; border: none;text-align:center">Llévame
        a CentralPay</a>
    <div style="position:absolute;bottom:0;width:500px">
        <hr style="color:white">
        <table>
            <tbody>
            <tr>
                <td colspan="2">
					<span style="display:inline-flex">
						<span style="vertical-align:middle;display:inline-block">
							<svg fill="#297afc" width="15px" xmlns="http://www.w3.org/2000/svg"
                                 viewbox="0 0 13.06 10.26">
								<path d="M11.17,0H1.89C.85,0,0,.85,0,1.89v6.49c0,1.04.85,1.89,1.89,1.89h9.29c1.04,0,1.89-.85,1.89-1.89V1.89c0-1.04-.85-1.89-1.89-1.89ZM11.17.9c.08,0,.15,0,.22.03l-3.92,4.45c-.24.27-.59.43-.95.43s-.71-.16-.95-.43L1.66.93c.07-.02.15-.03.22-.03h9.29ZM12.16,8.37c0,.54-.44.98-.98.98H1.89c-.54,0-.98-.44-.98-.98V1.89c0-.13.03-.26.07-.37l3.93,4.46c.41.47,1,.73,1.63.73s1.21-.27,1.63-.73l3.93-4.46c.05.12.07.24.07.37v6.49Z" />
							</svg>
						</span>
						<span style="font-size:10px;font-weight:bold;margin-left:8px">ayuda@cpay.mx</span>
					</span>
                </td>
                <td style="text-align:right" colspan="2">
					<span style="display:inline-flex">
						<span style="vertical-align:middle;display:inline-block">
							<svg fill="#297afc" width="15px" xmlns="http://www.w3.org/2000/svg"
                                 viewbox="0 0 13.07 13.07">
								<path d="M9.99,2.33c-.42,0-.77.34-.77.77s.34.77.77.77.77-.34.77-.77-.34-.77-.77-.77Z" />
								<path d="M6.59,3.32c-1.77,0-3.22,1.44-3.22,3.22s1.44,3.22,3.22,3.22,3.22-1.44,3.22-3.22-1.44-3.22-3.22-3.22ZM6.59,8.59c-1.14,0-2.06-.92-2.06-2.06s.92-2.06,2.06-2.06,2.06.92,2.06,2.06-.92,2.06-2.06,2.06Z" />
								<path d="M9.14,13.07H3.92c-2.16,0-3.92-1.76-3.92-3.92V3.92C0,1.76,1.76,0,3.92,0h5.22c2.16,0,3.93,1.76,3.93,3.92v5.22c0,2.16-1.76,3.92-3.93,3.92ZM3.92,1.23c-1.49,0-2.7,1.21-2.7,2.7v5.22c0,1.49,1.21,2.7,2.7,2.7h5.22c1.49,0,2.7-1.21,2.7-2.7V3.92c0-1.49-1.21-2.7-2.7-2.7H3.92Z" />
							</svg>
						</span>
						<span style="font-size:10px;font-weight:bold;margin-left:8px">¿No tienes una cuenta?
							<a href="{{ host }}" style="color:#297AFC;margin-left:8px">Ingresa</a>
						</span>
					</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>
